<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post Detail</title>
</head>
<body>
    <p><a href="{% url 'post_list' %}">post_list</a>-<a href="{% url 'index' %}">Index</a></p>
    <h1>Post Detail</h1>
    <h2>{{ detail.poster }}</h2>
    <h3>{{ detail.post }}</h3>

    <img src="{% static "images/fire.png" %}"
</body>
</html>